@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #3749b1;
  --primary: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  gap: 3rem;
  color: #3749b1;
  height: 100%;
  font-family: "Autour One", serif;
}

.send {
  background-color: var(--blue);
  color: var(--primary);
  height: 60px;
  width: 180px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.2rem;
}

.send:hover {
  scale: 1.1;
  transition: 0.2s;
}
